body {
    margin: 0;
    padding: 0;
    display: flex;
    background-color: #d6d2d2;
    font-family: Arial, sans-serif;
}

.photo {
    width: 50px;
    height: 50px;
    border-radius: 60%;
    object-fit: cover;
    float: right;
    margin-top: -10px;
    margin-right: 20px;
    border: 1px solid #333232;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.4);
}

.liseré-container {
    width: 10%;
    height: 100vh;
}

.liseré {
    width: 100%;
    height: 500px;
    object-fit: cover;
}

main {
    width: 90%;
    padding: 20px;
}


.header {
    text-align: center;
    margin-bottom: 40px;
}

.header h1 {
    margin: 20;
    font-size: 28px;
}

.header p {
    margin: 5px 0;
    font-size: 16px;
}

.sections {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.colonne {
    width: 30%;
}

.colonne h2 {
    color: rgb(194, 110, 62);
    margin-bottom: 10px;
}

ul {
    padding-left: 20px;
}
